In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('cleaned_Insurance.csv')
df

,age,bmi,children,expenses,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.9,0,16884.92,1,0,0,1,0,0,0,1
1,18,33.8,1,1725.55,0,1,1,0,0,0,1,0
2,28,33.0,3,4449.46,0,1,1,0,0,0,1,0
3,33,22.7,0,21984.47,0,1,1,0,0,1,0,0
4,32,28.9,0,3866.86,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1332,50,31.0,3,10600.55,0,1,1,0,0,1,0,0
1333,18,31.9,0,2205.98,1,0,1,0,1,0,0,0
1334,18,36.9,0,1629.83,1,0,1,0,0,0,1,0
1335,21,25.8,0,2007.95,1,0,1,0,0,0,0,1
1336,61,29.1,0,29141.36,1,0,0,1,0,1,0,0

In [3]:
X = df.drop(columns = {'expenses'})
y = df['expenses']

**Train Test Split**

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

# **Final Model**

In [5]:
#Modelling
from sklearn.linear_model import Ridge
model = Ridge(alpha = 16)
model.fit(X_train, y_train)

print('Coefficients: ', model.coef_.tolist())
print('Intercept: ', model.intercept_)

#Prediction
ypred_train = model.predict(X_train)
ypred_test = model.predict(X_test)

#Evaluation
from sklearn.metrics import mean_squared_error

rmse_train = np.sqrt(mean_squared_error(y_train, ypred_train))
rmse_test = np.sqrt(mean_squared_error(y_test, ypred_test))

from sklearn.model_selection import cross_val_score

cv = abs(cross_val_score(model, X_train, y_train, cv = 5, scoring = 'neg_root_mean_squared_error').mean())

print('\n')
print('RMSE(train): ', rmse_train)
print('CV-Score: ', cv)
print('RMSE(test): ', rmse_test)

if (abs(rmse_train - cv) <= 0.05*rmse_train) and (abs(rmse_train - rmse_test) <= 0.05*rmse_train):
  print('Good Model')
else:
  print('Bad Model')

Coefficients:  [254.32868746487685, 336.33746265869166, 519.0771888126563, 102.86087562395046, -102.86087562395028, -11549.165145691886, 11549.165145691893, 473.39921167734354, 196.33780374072282, -452.13407471290486, -217.60294070519274]
Intercept:  -743.4183835315889


RMSE(train):  6073.834928697271
CV-Score:  6141.186929982131
RMSE(test):  5967.255402094595
Good Model